# Airflow
airflow/logs/
airflow/dags/__pycache__/
airflow/.venv/
airflow/*.db

# Spark
spark/checkpoint/

# Python chung
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.env.* 
.ipynb
.github

# Logs & tmp
*.log
*.tmp
*.sqlite
.DS_Store
Thumbs.db

.drawio